.marks__ul {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  background-color: white;
  list-style-type: none;
}

.inputBtn {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
