.papulyars__ul {
  display: flex;
}
.populyar__li {
  list-style-type: none;
}

.DivCard1 {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.DivCard2 {
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.DIVElement {
  display: flex;
  justify-content: center;
}
